
html {
    background-color: black;
}

img {
    height: 400px;
    width: 100%;
    border: 5px solid white;
    margin-top: 5rem;
}

h1 {
    font-family: "Libre Baskerville", serif;
    font-size: 30px;
    text-transform: uppercase;
}

p {
    font-size: large;
    font-family: "Libre Baskerville", serif;
    margin-top: 30px;
}

#first {
    width: 50%;
    margin: 25%;
    margin-top: 5px;
}

.text {
    text-align: center;
    color: white;
}



